<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<logger name="net.kaciras.blog" level="INFO"/>

	<!-- ExceptionReslover默认会记录一个警告，给他去掉 -->
	<logger name="org.springframework.web.servlet.mvc.method" level="ERROR"/>

	<!-- Spring的日志没啥看头 -->
	<logger name="org.springframework" level="WARN"/>
</configuration>
